body {
  padding: 0;
  margin: 0;
}
#show-meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}
#error{
  color:red;
  text-align: center;
}
.meal,.meal-container {
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  padding: 10px;
  width: 280px;
  cursor: pointer;
  background-color: #f8f7f5;
}
.meal-container {
  width: 350px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.meal-container > p {
  padding: 0px 20px;
  margin: 0;
}
.meal-container > img {
  width: 100%;
  padding: 5px;
}
.meal-name {
  font-size: 18px;
  color: #252525;
}
.meal-image {
  padding: 5px;
  width: 100%;
}
